@model Pumped.Models.Setting

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTokens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldTokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldTokens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPServer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowStartDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
