@model IEnumerable<Pumped.Models.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTokens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldTokens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMTPPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMTPServer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableSSL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTokens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldTokens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMTPPort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMTPServer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailDisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableSSL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
